<% if (!user) { %>
	<p data-e2e-test-id="welcome-text">Welcome! Please <a href="/login" data-e2e-test-id="login-link">log in</a>.</p>
<% } else { %>
	<p data-e2e-test-id="Greeting-text">Hello, <%= user.username %>. View your <a href="/profile" data-e2e-test-id="profile-link">profile</a>.</p>
<% } %>
